{% extends 'users/base.html' %}

{% block content %}

<article class = "media content-section">
    <img src="{{clubs.wall_picture.url}}" width="300" height="300" style="vertical-align:middle;margin:50px 0px"/><br>

    <h3>Rooms:</h3>
<br><br>
{% for room in rooms %}

    <div class = "media-body">
        <div class = "article-metadata">
 <a class = "mr-2" href = "#"> {{ room.room_name }}</a>

        </div>
    </div>
</article>

{% endfor %}
<br><br>
<h3>ABOUT</h3>
<img src="{{clubs.content_picture.url}}" width="300" height="300" style="vertical-align:middle;margin:50px 0px"/>
{% endblock %}


